* {
	padding: 0;
	margin: 0;
	border: 0;
	}
/* br_setion_title_br */

@media screen and (max-width: 452px) {
br.mobile1 {
	display: none;
}}


@media screen and (min-width: 452px) {
br.mobile2 {
	display: none;
}}

@media screen and (max-width: 412px) {
br.mobile2 {
	display: none;
}}

/* br_setion1_br */

@media screen and (max-width: 960px) {
br.section1_br {
	display: none;
}}

@media screen and (min-width: 961px) {
br.section1_br1 {
	display: none;
}}

@media screen and (max-width: 514px) {
br.section1_br1 {
	display: none;
}}

@media screen and (min-width: 641px) {
br.section1_br2 {
	display: none;
}}

@media screen and (min-width: 498px) {
br.section1_br3 {
	display: none;
}}

@media screen and (min-width: 498px) {
br.section1_br4 {
	display: none;
}}

@media screen and (max-width: 473px) {
br.section1_br4 {
	display: none;
}}


@media screen and (min-width: 458px) {
br.section1_br5 {
	display: none;
}}

@media screen and (min-width: 641px) {
br.section1_br6 {
	display: none;
}}

@media screen and (max-width: 562px) {
br.section1_br6 {
	display: none;
}}

@media screen and (min-width: 515px) {
br.section1_br7 {
	display: none;
}}

@media screen and (min-width: 515px) {
br.section1_br8 {
	display: none;
}}

@media screen and (max-width: 505px) {
br.section1_br8 {
	display: none;
}}

@media screen and (min-width: 498px) {
br.section1_br9 {
	display: none;
}}

@media screen and (max-width: 472px) {
br.section1_br9 {
	display: none;
}}

/* br_setion2_br */

@media screen and (min-width: 435px) {
br.section2_br11 {
	display: none;
}}

@media screen and (min-width: 470px) {
br.section2_br12 {
	display: none;
}}

@media screen and (max-width: 436px) {
br.section2_br12 {
	display: none;
}}

@media screen and (min-width: 435px) {
br.section2_br13 {
	display: none;
}}

@media screen and (min-width: 434px) {
br.section2_br14 {
	display: none;
}}

@media screen and (min-width: 402px) {
br.section2_br15 {
	display: none;
}}

@media screen and (min-width: 449px) {
br.section2_br21 {
	display: none;
}}

@media screen and (max-width: 382px) {
br.section2_br21 {
	display: none;
}}

@media screen and (min-width: 640px) {
br.section2_br2 {
	display: none;
}}

@media screen and (max-width: 498px) {
br.section2_br2 {
	display: none;
}}

@media screen and (min-width: 476px) {
br.section2_br3 {
	display: none;
}}

@media screen and (max-width: 382px) {
br.section2_br3 {
	display: none;
}}

@media screen and (min-width: 584px) {
br.section2_br4 {
	display: none;
}}

@media screen and (max-width: 534px) {
br.section2_br4 {
	display: none;
}}

@media screen and (min-width: 534px) {
br.section2_br41 {
	display: none;
}}

@media screen and (max-width: 380px) {
br.section2_br41 {
	display: none;
}}

@media screen and (min-width: 399px) {
br.section2_br42 {
	display: none;
}}

@media screen and (max-width: 380px) {
br.section2_br42 {
	display: none;
}}

@media screen and (min-width: 380px) {
br.section2_br43 {
	display: none;
}}

@media screen and (min-width: 570px) {
br.section2_br5 {
	display: none;
}}

@media screen and (max-width: 490px) {
br.section2_br5 {
	display: none;
}}

/* br_setion3_br */

h2 {
	left: 0;
}

.font_300 {
	font-family: 'Roboto',Arial,sans-serif;
	font-weight: 300;
	color: #000000;
	box-sizing: content-box;
}

.font_301 {
	font-family: 'Roboto',Arial,sans-serif;
	font-weight: 300;
	color: #000000;
}

.font_600 {
	font-family: 'Roboto',Arial,sans-serif;
	font-weight: 600;
	color: #000000;
	letter-spacing: 2.5px;
}

.font_601 {
	font-family: 'Roboto',Arial,sans-serif;
	font-weight: 600;
	color: #000000;
}

.font_title {
	font-size: 42px;
	line-height: 1.23;
}

@media screen and (max-width: 1200px){
.font_title {
	font-size: 38px;
}}

@media screen and (max-width: 640px){
.font_title {
	font-size: 32px;
}}

.mx_width12 {
	max-width: 1160px;
}

@media screen and (max-width: 1200px) {
.mx_width12 {
  max-width: 940px;
}}
v
.mx_width8 {
	max-width: 760px;
}

@media screen and (max-width: 1200px) {
.mx_width8 {
	max-width: 620px;
}}

.mx_width7 {
	max-width: 760px;
}

@media screen and (max-width: 1200px) {
.mx_width7 {
	max-width: 620px;
}}


@media screen and (max-width: 1200px){
.mx_width6 {
	max-width: 620px;
}}

.margin_auto {
	margin-left: auto;
	margin-right: auto;
}

.valign_top {
	vertical-align: top;
}

.valign_middle {
	vertical-align: middle;
}

.margin_bottom41 {
	margin-bottom: 105px;
}

@media screen and (max-width: 960px){
.margin_bottom41 {
	margin-bottom: 45px;
}}

@media screen and (max-width: 640px){
.margin_bottom41 {
	margin-bottom: 0px;
}}

.section_crate_table {
	max-width: 45%;
}

@media screen and (max-width: 960px){
.section_crate_table {
	max-width: 100%;
}}

.department_col {
	display: inline;
	float: none;
	margin-left: 20px;
	margin-right: 20px;
	width: 100%;
}

@media screen and (max-width: 1200px) {
.department_col {
	display: inline;
	float: none;
	margin-left: 10px;
	margin-right: 10px;
	width: 100%;
}}

@media screen and (max-width: 960px){
.department_col {
	display: block;
	float: none;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
}}

.flexbox_container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

.deparment_col_flex {
	align-items: stretch;
	height: inherit;
	margin-top: auto;
	margin-bottom: auto;
}

.department_cell {
	display: table-cell;
	vertical-align: top;
	height: 100%;
	margin-left: 0;
	margin-right: 0;
}

header {
	background-color: rgba(255,255,255,1);
	height:70px;
}

.header_fon {
	width: 100%;
	height: 70px;
	z-index: 5;
	top: 0;
	box-shadow: 0 1px 3px rgba(0,0,0,0);
	transition: background-color .3s linear;
}

.header_position_fixed {
	position: fixed;
}

.header_main_container {
	width: 100%;
	height: 70px;
	display: table;
	top: 0;
}

@media screen and (max-width: 979px) {
.header_main_container {
	display: block;
	height: 100%;
	top: 0;
	transition: all 0.3s ease 0s;
	opacity: 0;
}}

.header_logotip {
	max-width: 150px;
	width: 150px;
	min-width: 150px;
	height: auto;
	display: block;
}

.header_left_side {
	min-width: 500px;
	display: table-cell;
	vertical-align: middle;
}

@media screen and (max-width: 979px) {
.header_left_side {
	min-width: 100%;
}}

.header_left_side_padding_left {
	padding-left: 4%;
}

@media screen and (max-width: 979px) {
.header_left_side_padding_left {
  padding-left: 0;
}}

.display_inline {
	display: inline-block;
}

.header_right_side {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 100%;
}

.header_center_side {
	min-width: 80%;
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}

.header_center_container {
	display: table;
	text-align: right;
	width: auto;
	position: relative;
}

@media screen and (max-width: 979px) {
.header_right_container {
	display: table;
	position: static;
	float: none;
	text-align: center;
	margin: 0 auto;
}}

@media screen and (max-width: 979px) {
.header_padding_top1 {
	padding-top: 50px;
}}

@media screen and (max-width: 979px) {
.header_padding_top2 {
	padding-top: 35px;
}}

.link_icon_inline {
  display: inline-block;
  vertical-align: top;
}

.header_center_descr {
	font-size: 20px;
	font-weight:400;
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	font-family: 'Roboto',Arial,sans-serif;
	color: #000000;
}

@media screen and (max-width: 979px) {
.header_right_share_top {
	display: table;
	position: static;
	padding: 0px 0px 0px 10px;
	margin: 0 auto;
	text-align: center;
	float: none;
	min-width: inherit;
}}


.link_logo_photo_wh {
	max-width: 35px;
}

.header_menu_mobile {
	background-color: #111;
	display: none;
	width: 100%;
	top: 0;
}

@media screen and (max-width: 979px) {
.header_menu_mobile {
	display: block;
	position: relative;
}}

.header_mobile_container {
	min-height: 70px;
	padding: 20px;
	position: relative;
	box-sizing: border-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.header_menu_burger {
	position: relative;
	flex-shrink: 0;
	width: 28px;
	height: 20px;
	padding: 0;
	border: none;
	background-color: transparent;
	outline: none;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	transition: transform .5s ease-in-out;
	cursor: pointer;
	z-index: 5;
}

@media screen and (max-width: 979px) {
.header_menu_burger {
	-webkit-order: 1;
	-ms-flex-order: 1;
	order: 1;
}}

.header_menu_burger span {
	display: block;
	position: absolute;
	width: 100%;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	transition: .25s ease-in-out;
	height: 3px;
	background-color: #000;
}

.header_menu_burger span:nth-child(1) {
	top: 0px;
}
.header_menu_burger span:nth-child(2),  span:nth-child(3) {
	top: 8px;
}
.header_menu_burger span:nth-child(4) {
	top: 16px;
}

.header_menu_burger_opened span:nth-child(1) {
	top: 8px;
	width: 0%;
	left: 50%;
}

.header_menu_burger_opened span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.header_menu_burger_opened span:nth-child(3) {
	-webkit-transform: rotate(-45deg);ы
	transform: rotate(-45deg);
}

.header_menu_burger_opened span:nth-child(4) {
	top: 8px;
	width: 0%;
	left: 50%;
}

button[aria-expanded="true"]{
	background-color: #42DCA3;
}

@media screen and (max-width: 979px) {
.header_main_container.active {
	width: 100%;
	height: 250px;
	display: block;
	text-align: center;
	position: relative;
	z-index: 4;
	box-shadow: 0 1px 3px rgba(0,0,0,0);
	transition: all 0.3s ease 0s;
	background-color: #fff;
	top: 0;
	opacity: 1;
}}

@media screen and (max-width: 979px) {
.header_left_side, .header_right_side, .header_center_side {
	display: block;
	text-align: center;
	float: none;
}}

@media screen and (max-width: 979px) {
.header_mobile_second_height1 {
	height: 100px;
}}

@media screen and (max-width: 979px) {
.header_mobile_second_height2 {
	height: 80px;
}}

@media screen and (max-width: 979px) {
.header_mobile_second_height3 {
	height: 70px;
}}


@media screen and (max-width: 979px) {
.header_second_container {
	height: auto !important;
	display: block;
	width: 100%;
}}

.section1 {
	height: 100vh;
	width: 100%;
	background: url(../images/title_photo.jpg) no-repeat center center;
	background-size: cover;
	position: relative;
	overflow: hidden;
}

.section1:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	opacity: 0.7;
	z-index: 1;
}

.section1_cover_carrier {
	height: 100vh;
	width: 100%;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	vertical-align: middle;
	position: relative;
	background-attachment: fixed;
}

.content1 {
	position: relative;
	color: white;
	z-index: 3;
	color: #fff;
	text-align: center;
	padding: 0px 50px;
}

.b1ackraound_black1 {
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

.cover_filter {
	height: 100vh;
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
}

@media screen and (max-width: 640px){
.title_cover {
	background-attachment: fixed;
}}

.text_title {
	text-transform: uppercase;
}

.letter_space {
	letter-spacing: .5px;
}

@media screen and (max-width: 640px){
.title_paddings {
	padding-right: 10px;
	padding-left: 10px;
}}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1200px;
	padding: 0;
}

@media screen and (max-width: 1200px){
	.container {
		max-width: 960px;
		padding: 0;
}}

@media screen and (max-width:960px) {
.container {
	max-width:640px
}}

.container .flexx {
	display:block
}

.title-container {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.section1_cover_wrapper {
	height: 700px;
	display: table-cell;
	width: 1200px;
}

.uptitle1 {
	padding-top: 30px;
	padding-bottom: 60px;
	color: #ffffff;
}

.uptitle2 {
	padding: 24px 0 38px 0;
	padding-top: 24px;
	padding-right: 0px;
	padding-bottom: 38px;
	padding-left: 0px;
	letter-spacing: .5px;
	color: #fff;
}

.uptitle3 {
	padding: 0 0 30px 0;
	color: #fff;
}

.section2 {
	padding-top:180px;
	padding-bottom:180px;
	background-color:#f0f0f0;
}

.align_center {
	text-align: center;
}

.section2_text {
	font-size: 30px;
	line-height: 1.45;
	letter-spacing: .45;
}

@media screen and (max-width: 1200px) { 
.section2_text {
	font-size: 26px;
	line-height: 1.45;
}}

@media screen and (max-width: 640px) {
.section2_text {
	font-size: 22px;
	line-height: 1.45;
}}

.section3 {
	padding-top: 150px;
	padding-bottom: 150px;
}

.text_title_margin_bottom {
	margin-bottom: 40px;
}

@media screen and (max-width: 960px){
.text_title_margin_bottom {
	margin-bottom: 20px;
}}

.section3_font-size1 {
	font-size: 24px;
}
.section3_font-size2 {
	font-size: 20px;
}
@media screen and (max-width: 960px){
.section3_margin_top_bott {
	margin-top: 40px !important;
	margin-bottom: 20px !important;
}}

.section3_margin_top_bott {
	margin-top: 55px;
	margin-bottom: 25px;
}

.section3_circle {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 45px;
	height: 45px;
	background-color: #fff;
	color: #000;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	white-space: nowrap;
	font-size: 20px;
	overflow: hidden;
}

.container_round_width_section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.section3_round{
	color: #1f5bff;
	border: 2px solid #1f5bff;
}

.title3_bottommargin {
	margin-bottom: 14px;
}

.li_style_no_marker {
	list-style-type: none;
}

.padding-left_section3{
	padding-left: 25px;
}

.section4 {
	padding-top: 150px;
	padding-bottom: 150px;
	background-color: #efefef;
}

.title_font_size1 {
	font-size: 14px;
}

@media screen and (max-width: 640px){
.title_font_size1 {
	font-size: 10px;
}}

.title_font_size2 {
	font-size: 72px;
	line-height: 1.17;
}

@media screen and (max-width: 1200px){
.title_font_size2 {
	font-size: 68px;
}}

@media screen and (max-width: 640px){
.title_font_size2 {
	font-size: 42px;
}}

@media screen and (max-width: 1200px) {
.title_font-size3 {
	font-size: 22px;
	line-height: 1.5;
}}

@media screen and (max-width: 640px){
.title_font-size3 {
	padding-right: 20px;
	padding-left: 20px;
	font-size: 14px;
	line-height: 20px;
}}

.text3_center {
	max-width: 700px;
	margin: 0 auto;
}

.section4 {
	padding-top: 150px;
	padding-bottom: 150px;
	background-color: #efefef;
}

@media screen and (max-width: 960px){
.section4_li_padding_left {
	padding-left: 50px;
}}

.text4_bottom {
	margin-top: 0;
	margin-bottom: 25px;
}

.section4_margin_top {
	margin-top: 90px;
}

.font_size4_26 {
	font-size: 26px;
	line-height: 1.35;
}

.font_size4_24 {
	font-size: 24px;
	line-height: 1.35;
}

.font_size5_20 {
	font-size: 20px;
	line-height: 1.55;
}

.font_size5_22 {
	font-size: 22px;
	line-height: 1.55;
}

.title_font_size5_42 {
	font-size: 42px;
	line-height: 1.55;
}

.section5 {
	padding-top: 120px;
	padding-bottom: 120px;
	background-color:#f4f6fc;
}

.section5_1padding-bottom{
	padding-bottom: 90px;
}

@media screen and (max-width: 640px){
.section5_1padding-bottom {
	padding-bottom: 45px;
}}

.section5_padding_rl {
	padding-right: 20px;
	padding-left: 20px;
}

.section5_horizon_aligment {
	padding-left: 10%;
	padding-right: 10%;
}

.aligment_padding5 {
	padding-bottom: 20px;
	padding-top: 20px;
}

.aligment5 {
	margin-top: 12px;
	margin-bottom: 25px;
}

.section5_margin_bottom {
	margin-bottom: 70px;
}

@media screen and (max-width: 960px){
.section5_margin_bottom {
	margin-bottom: 45px;
}}

.section6 {
	padding-bottom: 100px;
	padding-top: 100px;
}

.section6_img_background {
  background-color: rgba(18,35,97,0.50), rgba(18,35,97,0.70);
}

.section6_fon {
  background: linear-gradient(to bottom, rgba(18,35,97,0.50), rgba(18,35,97,0.70));
  height: 500px;
}

.section6_img_scroll {
	background: blue url('../images/together_photo.png') no-repeat center center;
	background-size: cover;
	background-attachment: scroll;
	height: 500px;
}

.section6_img {
	background-image: url(../images/together_photo.png);
	height: 500px;
}

.section6_background {
	background-color: #000;
	overflow: hidden;
}

.section6_cover_carrier {
	opacity: 1;
	transition: opacity 700ms;
}

.secction6_filter {
	height: 500px;
	width: 100%;
	position: absolute;
	left: 0;
}

.section6_carreir {
  -moz-transform: unset;
}

.section6_cover .section6_cover_carrier {
	height: 500px;
	width: 100%;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	vertical-align: middle;
}

@media screen and (max-width: 640px){
.section6_cover {
	background-attachment: fixed;
	background-color: #000;
	overflow: hidden;
}}

.section6_wrapper {
	height: 500px;
	display: table-cell;
	width: 1200px;
}

.section6_text_container {
	position: absolute;
	left: 0;
	right: 0;
}

.section6_text_0_auto {
	max-width: 700px;
	margin: 0 auto;
}

.section6_padding_text_color {
	padding: 0 0 30px 0;
	color: #fff;
}

.section6_font_size24 {
	font-size: 24px;
	line-height: 1.5;
}

@media screen and (max-width: 1200px) {
.section6_font_size24 {
	font-size: 22px;
}}

.section7 {
	padding-top: 135px;
	padding-bottom: 135px;
}

.section7_topwrapper {
	margin-bottom: 90px;
}

.section7_top_li {
	margin-top: 40px;
}

.section7_round {
	color: #122361;
	border: 2px solid #122361;
	width: 40px;
	height: 40px;
}

.section7_circle {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 45px;
	height: 45px;
	background-color: #fff;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	white-space: nowrap;
	font-size: 20px;
	overflow: hidden;
}

.section7_padding_left30 {
	padding-left: 30px;
}

.section7_title_font_size26 {
	font-size: 26px;
	line-height: 1.35;
}

.section7_title_font_size20 {
	font-size: 20px;
	line-height: 1.55;
}
.section7_bottom_margin {
	margin-bottom: 14px;
}

.section7_margin_top {
	margin-top: 50px;
}

.section8 {
	padding-top: 150px;
	padding-bottom: 150px;
	background-color: #f4f6fc;
}

.section8_warpflex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.section8_tablewarrper {
	display: table;
	height: 100%;
	width: 100%;
}

.section8_img_mx_width {
	max-width: 460px;
}

.section8_img_mx_width_mobile {
	max-width: 600px;
}

.section8_img_block {
	display: block;
	width: 100%;
}

.section8_img_padding_left {
	padding-left: 10%;
}


@media (max-width: 1200px) {
.section_img_column {
	display: flex;
	flex-direction: column;
}
.text {
	display: flex;
	flex-direction: column;
}}

.setcion8_margin_bottom2 {
	margin-bottom: 50px;
}

.setcion8_margin_bottom1 {
	margin-bottom: 100px;
}

.section8_padding_bottom {
	padding-bottom: 20px;
}

.section8_font_size_title {
	font-size: 28px;
	line-height: 1.17;
}

@media screen and (max-width: 1200px) {
.section8_font_size_title {
	font-size: 26px;
	line-height: 1.17;
}}

.section8_font_size20 {
	font-size: 20px;
}

.section9 {
	padding-top: 150px;
	padding-bottom:150px;
}

.section9_marginbottom40 {
	margin-bottom: 40px;
}

.section9_marginbottom105 {
	margin-bottom: 105px;
}

@media screen and (max-width: 960px){
.section8_box_img {
	display: none;
}}

@media screen and (max-width: 960px) {
.section8_img_flex-wrapper {
	display: block;
}}

.section8_img_mobile {
	display: none;
}

@media screen and (max-width: 960px) {
.section8_img_mobile {
	display: block;
	height: auto;
	margin-bottom: 75px;
}}

.section9_font24px {
	font-size: 24px;
	line-height: 1.5;
}

@media screen and (max-width: 1200px){
.section9_font24px {
	font-size: 22px;
}}

.section9_bgimg {
	width: 100%;
	max-width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.section9_img_circle {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.mask_photo {
  width: 200px;
  height: 200px;
  position: relative;
}

.photo_person {
	object-fit: cover;
	height: 100%;
	top: 0;
	left: 0;
	width: 100%;
}

.mx_width3 {
	max-width: 360px;
}

@media screen and (max-width: 1200px) {
.mx_width3 {
  max-width: 300px;
}}

@media screen and (max-width: 480px) {
.mx_width3 {
	max-width: 100%;
}}

@media screen and (max-width: 960px) {
.section9_mobstyle {
	display: inline-block;
	vertical-align: top;
	width: 50%;
}}

@media screen and (max-width: 480px) {
.section9_mobstyle {
	display: block;
	width: 100%;
}}

@media screen and (max-width: 960px) {
.section9_margin_top45 {
  margin-top: 0px !important;
}}

@media screen and (max-width: 480px) {
.section9_margin_top45 {
  margin-top: 45px !important;
}}

@media screen and (max-width: 960px) {
.section9_3margin_top45 {
  margin-top: 45px !important;
}}

.photo_aligment {
	width: 200px;
	height: 200px;
	max-width: 100%;
	margin-bottom: 20px;
	overflow: hidden;
}

.margin_0_auto {
	margin: 0 auto;
}

.section9_wrappercenter {
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
}

.section9_bottommargin4 {
	margin-bottom: 4px;
}

.section9_margin_top15{
	margin-top: 15px;
}

.section9_font22 {
	font-size: 22px;
	line-height: 1.35;
}

@media screen and (max-width: 1200px) {
.section9_font22 {
	font-size: 20px;
}}

@media screen and (max-width: 640px) {
.section9_font22 {
	font-size: 18px;
}}

.section9_font14 {
	font-size: 14px;
	line-height: 1.55;
}

@media screen and (max-width: 640px) {
.section9_font14 {
	font-size: 12px;
}}

.text_founder_color {
	color: #7a7a7a;
}

.linkedin_img {
	width: 23px;
	height: 23px;
}

.section10 {
	padding-top: 120px;
	padding-bottom: 105px;
	background-color: #001eff;
}

.section10_padding_aligment {
	padding: 1px 75px 10px 75px;
}

@media screen and (max-width: 640px) {
.section10_padding_aligment {
	padding-left: 0;
	padding-right: 0;
}}

.section10_font_size26 {
	font-size: 26px;
	line-height: 1.5;
}

.section11 {
	background-image: -moz-linear-gradient(rgb(204, 204, 204), rgb(119, 119, 119));
	height: 640px;
	overflow: hidden;
}

.section11_back_gradient11 {
	height: 640px;
	background-image: -webkit-linear-gradient(rgba(18, 35, 97, 0.5), rgba(18, 35, 97, 0.5));
}

.section11_filter {
	height: 640px;
	width: 100%;
	position: absolute;
	left: 0;
}

.section11_wrapper {
	height: 640px;
	display: table-cell;
	width: 1200px;
}

@media screen and (max-width: 680px) {
.section11_wrapper {
  padding: 0px 20px;
}}

.section11_padding_heit {
	padding: 40px 0;
}

.square_white {
	background-color: #fff;
	padding: 80px 85px 85px;
}

@media screen and (max-width: 680px) {
.square_white {
  padding: 30px 20px 35px;
}}

.position_absolute {
	position: absolute;
	max-width: 100%;
}

.section11_bottom_margin50 {
  margin-bottom: 50px;
}

.section11_inline_links{
  display: inline-block;
  margin: 4px 2px 0;
}

.section_11_font24{
  font-size: 24px;
  font-weight: 600;
}

.section11_top_margin50 {
  margin-top: 50px;
}
