body{
	margin-left: 200px;
	margin-right: 200px;
}
.wrapper {
  width: 100%;
}

@media all and (max-width: 1200px){
	p{
		font_size: 28px;
	}
}

@media all and (max-width: 992px){
	p{
		font_size: 24px;
	}
}
@media all and (max-width: 768px){
	p{
		font_size: 20px;
	}
}
@media all and (max-width: 576px){
	p{
		font_size: 16px;
	}
}
@media all and (max-width: 375px){
	p{
		font_size: 12px;
	}
}
