body{
	margin-left: 200px;
	margin-right: 200px;
	font-size: 20px;
}
@media screen and (max-width: 1200px){

}

@media screen and (max-width: 992px){

}
@media screen and (max-width: 768px){

}
@media screen and (max-width: 576px){

}
