.center-text {
  text-align: center;
}
white-space: nowrap;

@media screen and (max-width: 1200px){
	h1{
		font_size: 32px;
	}
}

@media screen and (max-width: 992px){
	h1{
		font_size: 28px;
	}
}
@media screen and (max-width: 768px){
	h1{
		font_size: 24px;
	}
}
@media screen and (max-width: 576px){
	h1{
		font_size: 20px;
	}
}
@media screen and (max-width: 375px){
	h1{
		font_size: 16px;
	}
}
@media screen and (max-width: 100px){
	h1{
		font_size: 12px;
	}
}
