body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    padding: 0px;
}

.container-pop-up {
    display: flex;
    gap: 10px;
}

.lines_up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;
}

.line_up {
    margin: 5px;
    display: flex;
    padding: 10px 10px;
    border-radius: 15px;
    background-color: #E6E6E6;
    color: black;
    font-size: 12px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.text_detorat {
    font-size: 14px;
    color: black;
    text-decoration: none;
}

#popupButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1;
}

#popup h3 {
    margin: 10px 0;
}

#open {
    float: right;
    margin-top: -10px;
    padding: 5px 10px;
    background-color: #ccc;
    color: black;
    border: none;
    cursor: pointer;
}

.openModalButton {
    width: 40%;
    display: block;
    margin: 5px auto;
    padding: 10px 5px;
    border-radius: 15px;
    background-color: #FFCD29;
    color: black;
    font-size: 10px;
    border: none;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    margin: auto;
    margin-top: 40%;
    padding: 20px;
    border: 1px solid #ccc;
    width: 80%;
    max-width: 600px;
}

.modal-header {
    padding: 20px;
    text-align: center;
}

.close-button {
    float: left;
    margin-top: -10px;
    color: black;
    border: none;
    cursor: pointer;
    height: 30px;
    width: 30px;
    font-size: 40px;
}

.modal-form {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.modal-form label {
    display: block;
    margin-bottom: 5px;
}

.modal-form input[type="text"],
.modal-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.modal-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.container {
    margin: 10px 5px;
    text-align: center;
    align-items: center;
}

.form {
    width: 35%;
    height: 40px;
    margin-right: 15px;
    padding: 12px;
    border: 0px solid #E6E6E6;
    background-color: #E6E6E6;
    border-radius: 5px;
}

.line2 {
    margin: 50px 10px;
}

.input_curs {
    width: 55%;
    height: 40px;
    border: 1px solid #E6E6E6;
}

.input_adress {
    width: 90%;
    height: 40px;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    text-align: center;
}

input[type="number"], textarea {
    background-color: #E6E6E6;
    font-weight: 500;
}

input[type="text"], textarea {
    background-color: #E6E6E6;
    font-weight: 500;
}

input[type="date"], textarea {
    background-color: #E6E6E6;
    font-weight: 500;
}

option {
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    background-color: #E6E6E6;
}


.centered-text_input {
  display: inline-block;
  text-align: center;
}

.currency-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #E6E6E6;
}

.submit-btn {
    padding: 10px 20px;
    background-color: #E6E6E6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#datetime-picker {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#datetime-picker input[type="date"] {
    flex: 1;
    padding: 5px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    margin-right: 6%;
    margin-left: 1%;
}

#datetime-picker select {
    padding: 16px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    margin-right: 1%;
}

#time-select {
    height: 20%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.address-picker {
    width: 100%;
    margin-bottom: 10px;
}

.pad_label_for_line1 {
    margin-bottom: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 14px;
}

.pad_label {
    margin-bottom: 5px;
    margin-top: 30px;
    font-weight: 600;
    font-size: 14px;
}

.pad_select {
    margin-bottom: 15px;
}

.font_size16 {
    font-size: 14px;
    font-weight: 600;
}

.last_line {
    margin-top: 10px;
}

.green-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 20%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
}
